$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import '~bootstrap-sass/assets/stylesheets/bootstrap';

p:last-child {
  margin-bottom: 0;
}

.list-item {
  .form-control {
    border: 0;
    border-radius: 0;
  }
}

.scorecard-task {
  button.close {
    display: none;
  }
  &:hover button.close {
    display: block;
  }
}
